## **Zillow Housing Data Statistics**

### **Data & Dependencies load**

In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

pd.options.display.max_rows = 100
pd.options.display.max_columns = None

In [2]:
# Data Load

zhvi = pd.read_pickle('../data/zhvi.pkl')
zori = pd.read_pickle('../data/zori.pkl')

In [3]:
# Add year, month, week number, day number, and day name
zhvi['Year'] = zhvi['Date'].dt.year
zhvi['Month'] = zhvi['Date'].dt.month
zhvi['Week'] = zhvi['Date'].dt.isocalendar().week
zhvi['DayNumber'] = zhvi['Date'].dt.day
zhvi['DayName'] = zhvi['Date'].dt.day_name()

zori['Year'] = zori['Date'].dt.year
zori['Month'] = zori['Date'].dt.month
zori['Week'] = zori['Date'].dt.isocalendar().week
zori['DayNumber'] = zori['Date'].dt.day
zori['DayName'] = zori['Date'].dt.day_name()

In [4]:
# ZHVI Head
zhvi.head()

,Region,State,Date,ZHVI,Type,Year,Month,Week,DayNumber,DayName
1,"New York, NY",NY,2000-01-31,190767.90,Condo,2000,1,5,31,Monday
2,"Los Angeles, CA",CA,2000-01-31,177240.45,Condo,2000,1,5,31,Monday
3,"Chicago, IL",IL,2000-01-31,126942.50,Condo,2000,1,5,31,Monday
4,"Dallas, TX",TX,2000-01-31,88627.72,Condo,2000,1,5,31,Monday
5,"Houston, TX",TX,2000-01-31,83915.41,Condo,2000,1,5,31,Monday

In [5]:
# ZORI Head
zori.head()

,Region,State,Date,ZORI,Type,Year,Month,Week,DayNumber,DayName
1,"New York, NY",NY,2015-01-31,2440.70,Single Family,2015,1,5,31,Saturday
2,"Los Angeles, CA",CA,2015-01-31,2577.07,Single Family,2015,1,5,31,Saturday
3,"Chicago, IL",IL,2015-01-31,1527.58,Single Family,2015,1,5,31,Saturday
4,"Dallas, TX",TX,2015-01-31,1372.17,Single Family,2015,1,5,31,Saturday
5,"Houston, TX",TX,2015-01-31,1496.71,Single Family,2015,1,5,31,Saturday

In [6]:
# Insights

# ZHVI
print("================== ZHVI ==================\n")
print(f" ==> Unique values in State column are {zhvi['State'].unique()}\n")
print(f" ==> Unique values in Type column are {zhvi['Type'].unique()}\n")

# ZORI
print("================== ZORI ==================\n")
print(f" ==> Unique values in State column are {zori['State'].unique()}\n")
print(f" ==> Unique values in Type column are {zori['Type'].unique()}\n")

================== ZHVI ==================

 ==> Unique values in State column are ['NY' 'CA' 'IL' 'TX' 'VA' 'PA' 'FL' 'GA' 'MA' 'AZ' 'MI' 'WA' 'MN' 'CO'
 'MD' 'MO' 'NC' 'OR' 'OH' 'NV' 'TN' 'RI' 'WI' 'OK' 'KY' 'LA' 'UT' 'CT'
 'HI' 'NE' 'SC' 'AR' 'IA' 'ME' 'DE' 'AK' 'NJ' 'AL' 'WV' 'KS' 'VT' 'ID'
 'NH' 'IN' 'NM' 'WY' 'MT' 'SD' 'MS' 'ND']

 ==> Unique values in Type column are ['Condo' 'One Bedroom' 'Single Family' 'Two Bedroom' 'Three Bedroom']

================== ZORI ==================

 ==> Unique values in State column are ['NY' 'CA' 'IL' 'TX' 'VA' 'PA' 'FL' 'GA' 'MA' 'AZ' 'MI' 'WA' 'MN' 'CO'
 'MD' 'MO' 'NC' 'OR' 'OH' 'NV' 'IN' 'TN' 'RI' 'WI' 'OK' 'KY' 'LA' 'UT'
 'CT' 'AL' 'HI' 'NE' 'SC' 'NM' 'ID' 'AR' 'IA' 'KS' 'MS' 'DE' 'AK' 'NJ'
 'MT' 'WV' 'SD' 'WY' 'ME' 'NH' 'VT' 'ND']

 ==> Unique values in Type column are ['Single Family' 'Multi Family']

### **Exploratory Data Analysis**